node_name = "{{ consul_server_name }}"
server = true
ui_config = {
    enabled = true,
}

data_dir = "/consul/data"
addresses = {
    http = "0.0.0.0",
}

retry_join = [
{% for host in play_hosts %}
  {% if host != inventory_hostname %}
  "{{ hostvars[host].consul_server_name }}",
  {% endif %}
{% endfor -%}
]

encrypt = "{{ consul_gossip_key }}",

tls {
  defaults {
    ca_file   = "/consul/config/{{ consul_ca_name }}.pem"
    cert_file = "/consul/config/{{ consul_cert_name }}.pem"
    key_file  = "/consul/config/{{ consul_cert_name }}-key.pem"
    verify_outgoing        = true
    verify_incoming        = true
  }
}

auto_encrypt {
  allow_tls = true
}

